<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продукти</title>
    <link rel="stylesheet" href="~/css/product_index.css">
</head>
<body>
<h2 style="text-align: center; margin-bottom: 20px;">Продукти</h2>

<div style="text-align: left; margin-bottom: 20px;">
    <a asp-action="Create" class="btn btn-outline-primary">Додати продукт</a>
    <button class="btn btn-outline-secondary" onclick="printTable()">Друкувати таблицю</button>
</div>

<div class="table-wrapper1">
    <div class="table-container1">
        <table class="styled-table1" id="printTable">
            <thead>
            <tr>
                <th rowspan="2">№</th>
                <th rowspan="2">Назва продукту</th>
                <th colspan="2">Вартість сировини</th>
                <th colspan="2">Вартість допоміжних матеріалів</th>
                <th colspan="2">Вартість відходів</th>
                <th colspan="2">Основна заробітна плата</th>
                <th colspan="2">Додаткова заробітна плата</th>
                <th colspan="2">ЄСВ</th>
                <th colspan="2">Витрати на підготовку</th>
                <th colspan="2">Загальновиробничі витрати</th>
                <th colspan="2">Адміністративні витрати</th>
                <th rowspan="2">Кількість</th>
                <th colspan="2">Собівартість</th>
            </tr>
            <tr>
                @for (int i = 0; i < 10; i++)
                {
                    <th rowspan="2">На одиницю</th>
                    <th rowspan="2">На випуск</th>
                }
            </tr>
            </thead>
            <tbody>
            @{
            int index = 1;
            }
            @foreach (Product product in Model)
            {
            <tr>
                <td>@index</td>
                <td>@product.ProductName</td>
                <td>@product.RawMaterialCost</td>
                <td>@(product.RawMaterialCost * product.Quantity)</td>
                <td>@product.AuxiliaryMaterialCost</td>
                <td>@(product.AuxiliaryMaterialCost * product.Quantity)</td>
                <td>@product.ScrapCost</td>
                <td>@(product.ScrapCost * product.Quantity)</td>
                <td>@product.BaseSalary</td>
                <td>@(product.BaseSalary * product.Quantity)</td>
                <td>@product.AdditionalSalary</td>
                <td>@(product.AdditionalSalary * product.Quantity)</td>
                <td>@product.Esv</td>
                <td>@(product.Esv * product.Quantity)</td>
                <td>@product.PreparationCost</td>
                <td>@(product.PreparationCost * product.Quantity)</td>
                <td>@product.ManufacturingOverheads</td>
                <td>@(product.ManufacturingOverheads * product.Quantity)</td>
                <td>@product.AdministrativeExpenses</td>
                <td>@(product.AdministrativeExpenses * product.Quantity)</td>
                <td>@product.Quantity</td>
                <td>@product.CalculateUnitCost()</td>
                <td>@product.CalculateTotalCost()</td>
            </tr>
            index++;
            }
            </tbody>
        </table>
    </div>
</div>
<script>
    function printTable() {
        const printContents = document.getElementById("printTable").outerHTML;
        const win = window.open('', '');
        win.document.write(`
        <html lang="ua">
        <head>
            <title>Звіт</title>
            <style>
                body {
                    font-family: Arial, sans-serif;
                    margin: 20px;
                    font-size: 12px;
                }

                .styled-table1 {
                    width: 100%;
                    min-width: 1000px;
                    border-collapse: collapse;
                    font-size: 16px;
                    text-align: center;
                    background-color: #ffffff;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    margin: 0 auto;
                }

                .styled-table1 th, .styled-table1 td {
                    padding: 12px 15px;
                    border: 1px solid #ddd; 
                    margin: 0;
                    vertical-align: middle;
                }

                .styled-table1 thead th {
                    background-color: #0077cc;
                    color: #ffffff;
                    top: 0;
                }

                .styled-table1 tbody tr {
                    border-bottom: 1px solid #dddddd;
                    padding: 10px;
                }

                .styled-table1 tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .styled-table1 tbody tr:hover {
                    background-color: #f1f1f1;
                    cursor: pointer;
                }
            </style>
        </head>
        <body>
            <h2 style="text-align:center; font-size: 16px;">Продукти</h2>
            ${printContents}
        </body>
        </html>
    `);
        win.document.close();
        win.print();
    }
</script>
</body>
</html>